<h1 class="homepage-header">Welcome to the Tech Blog</h1>
    
    {{#each newPostData as |newpost|}}
    <div class="post-container">
        <h4>{{title}}</h4>
        <p>{{date}}</p>
        <a href="/post/{{id}}">View</a>
    </div>
    {{/each}}