<div class="d-flex justify-content-center">
<form id="login-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
    <input type="submit" id="login-submit" name="login-submit">
    <a href="/signup" id="signup-create">Sign Up</a>
</form>
</div>

<script src="/js/login.js"></script>
