<div class="d-flex justify-content-center">
<form id="new-post-form">
    <label for="fname">Post Title:</label>
    <input type="text" id="textTitle" name="textTitle">
    <label for="fname">Post Content:</label>
    <input type="text" id="textContent" name="textContent">
    <input type="submit" id="post-textSubmit" name="textSubmit">
</form>
</div>
<script src ="../js/post.js"></script>