<div class="d-flex justify-content-center">
<form id="new-post-form">
    <label for="fname">Title:</label>
    <input type="text" id="title" name="title">
    <label for="fname">Text:</label>
    <input type="text" id="text" name="text">
    <input type="submit" id="post-submit" name="textSubmit">
</form>
</div>
<script src ="../js/post.js"></script>