<div class="d-flex justify-content-center">
<form id="signup-form">
    <label for="username">Username:</label>
    <input type="text" id="signup-username" name="username">
    <label for="password">Password:</label>
    <input type="text" id="signup-password" name="password">
    <input type="submit" id="signup-submit" name="signin-submit">
</form>
</div>
<script defer src="/js/signup.js"></script>