:root{
    --color-1: #011627;
    --color-2: #fcf373;
    --color-3: #58b858;
    --color-4: #eca373;
    --color-5: #46b5da;
    --color-font: #fff;
}


html{
    font-size: 62.5%;
}

h1 {
    font-size: 4rem;
    font-family: 'Open Sans';
}
  
h2 {
    font-size: 3.5rem;
    font-family: 'Open Sans';
}
  
h3 {
    font-size: 3rem;
    font-family: 'Open Sans';
}
  
h4 {
    font-size: 2.5rem;
    font-family: 'Open Sans';
}
  
h5 {
    font-size: 2rem;
    font-family: 'Open Sans';
}
  
h6 {
    font-size: 1.5rem;
    font-family: 'Open Sans';
} 
p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'Open Sans';
    font-weight: 300;
}


nav{
    background: var(--color-5) !important;
}
.navbar-nav{
    margin-right: 4rem;
    padding: 1.5rem;
}
.navbar-nav li{
    padding: 0rem 1rem;
}
.navbar-nav li a{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-font);
}
.navbar-nav li a:hover{
    color: var(--color-4);
    text-decoration: none;
}
.navbar-brand{
    margin-left: 4rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing:1px;
    text-transform: uppercase;
    color: var(--color-font);
}
.navbar-brand:hover{
    color: var(--color-4);
    text-decoration: none;
}



.homepage-header{
    text-align: center;
    margin-top: 10rem;
    text-transform: uppercase;
    font-weight: 500;
}


#post-button{
    background-color: var(--color-2);
    width: 30%;
    position:fixed;
    bottom: 100px;
    color: var(--color-font);
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
}
#post-button:hover{
    background-color: var(--color-3);
    text-decoration: none;
}
.post-container{
    margin-top: 5rem;
    border: 1px solid #000;
}
.post-container h4{
    text-align: center;
    background: var(--color-3);
    padding: 1.5rem 0rem;
    color: var(--color-font);
    text-transform: uppercase;
}
.post-container p{
    margin-top: 1rem;
    padding: 2rem 4rem;
}



#new-post-form{
    width: 100%;
    margin-top: 5rem;
}
#new-post-form input{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#new-post-form label{
    font-size: 1.8rem;
}
#textTitle{
    height: 30%;
}
#textContent{
    height: 100%;
}
#textSubmit{
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: var(--color-4);
    border: 0px solid var(--color-4);
    color: var(--color-font);
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    border-radius: 4px;
}
#textSubmit:hover{
    background-color: var(--color-2);
}



#single-post-header{
    margin-top: 5rem;
}
#comment-message{
    display: flex;
}
#comment-text{
    padding-bottom: 0.5rem;
    width: 30%;
}
#send-comment-btn{
    padding-bottom: 0rem;
    width: 10%;
    border: none;
    color: var(--color-font);
    background: var(--color-3);
    padding: 1rem;
    border-radius: 0.4rem;
    margin-left: 0.5rem;
}
#send-comment-btn:hover{
    background: var(--color-4);
}
.comment-content{
    border-bottom: 1px solid #000;
}
#postId{
    display: none;
}
#postId-url{
    display: none;
}



#login-form{
    width: 100%;
    margin-top: 5rem;
}
#login-form input{
    width: 100%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
#login-form label{
    font-size: 1.8rem;
}
#login-submit{
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: var(--color-4);
    border: 0px solid var(--color-4);
    color: var(--color-font);
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    border-radius: 4px;
}
#login-submit:hover{
    background-color: var(--color-2);
}
#signup-create{
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: var(--color-4);
    border: 0px solid var(--color-4);
    color: var(--color-font);
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    border-radius: 4px; 
}
#signup-create:hover{
    background-color: var(--color-2);
}



#signup-form{
    width: 100%;
    margin-top: 5rem;
}
#signup-form input{
    width: 100%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
#signup-form label{
    font-size: 1.8rem;
}
#signup-submit{
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: var(--color-4);
    border: 0px solid var(--color-4);
    color: var(--color-font);
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    border-radius: 4px;
}
#signup-submit:hover{
    background-color: var(--color-2);
}



footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: var(--color-5);
}
footer p{
    color: var(--color-font);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 1rem;
}